<div class="container" *ngIf="assignementTransmis">
    <mat-card>
        <mat-card-title>{{assignementTransmis.nom}}</mat-card-title>
        <mat-card-subtitle>{{assignementTransmis.dateDeRendu | date}}</mat-card-subtitle>
    </mat-card>
    <div id="bottom">
        <mat-checkbox *ngIf="!assignementTransmis.rendu" (click)="onAssignementRendu()">Devoir rendu</mat-checkbox>
        <nav>
            <a>
                <button mat-stroked-button color="primary" (click)="onClickEdit()">Modifier</button>
            </a>
        </nav>
        <button mat-stroked-button color="danger" (click)="onClickDelete()">Supprimer</button>
    </div>
</div>
