<div class="container">

    <div>
        <h1>
            <nav><a routerLink="/home">{{title}}</a></nav>
        </h1>

        
        <button mat-flat-button color="primary" (click)="peuplerBD()">Peupler BD</button>

    </div>
    <button class="loginBtn" mat-flat-button color="accent" (click)="onLogin()" *ngIf="!isLoggedIn">Connexion</button>
    <button class="loginBtn" mat-flat-button color="accent" (click)="onLogout()" *ngIf="isLoggedIn">Déconnexion</button>
    <p *ngIf="isLoggedIn">{{ user }}</p>
</div>
<router-outlet></router-outlet>