<mat-toolbar class="container">
    <span class="title" routerLink="/home">{{title}}</span>
    <div class="menu">
        <button class="button" id="peuplerBtn" mat-flat-button (click)="peuplerBD()">Peupler BD</button>
        <button class="button" id="ajouterBtn" mat-flat-button routerLink="/add">Ajouter un devoir</button>
        <button class="button" disabled *ngIf="isLoggedIn">Connecté en tant que {{ user }}</button>
        <button class="button" id="loginBtn" mat-flat-button (click)="onLogin()" *ngIf="!isLoggedIn">Connexion</button>
        <button class="button" id="logoutBtn" mat-flat-button (click)="onLogout()"
            *ngIf="isLoggedIn">Déconnexion</button>
    </div>
</mat-toolbar>
<router-outlet></router-outlet>